name: Build and push docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/image-cpp:1.0 .

      - name: Push docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/image-cpp:1.0